* {
  box-sizing: border-box;
}

body {
  font-family: 'catamaran', sans-serif;
  font-size: 22px;
  margin: 0;;
  color: #303346;
  letter-spacing: 0.05rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 0;
}

.tip-left {
  text-align: right;
  height: 100vh;
  width: 50%;
  flex: 0 0 50vw;
  max-width: 1000px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 4rem;
}

.tip-right {
  background-color: #D1C7B2;
  padding: 4rem;
  flex: 0 0 50vw;
}

.code {
  font-family: monospace;
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1.375rem;
}

.wrapper {
  text-align: right;
  min-width: 200px;
  height: 30vh;
  margin-top: 15vh;
  padding: 2rem;
}

.code-block {
  font-family: "open sans", monospace;
  background-color: white;
  padding: 0.5em 0.75em;
  font-size: 1.15rem;
  display: block;
  margin: 1rem 0;
  padding: 1rem 2rem;
}

.tip-title {
  display: inline-block;
  position: relative;
  margin-bottom: 2.5rem;
  color: #303346;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.25rem;
  text-align: left;
  margin-right: 24px;
}

.tip-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -0.25rem;
  border-top: solid 4px #303346;
  border-left: solid 4px #303346;
  border-bottom: solid 4px #303346;
  height: 100%;
  width: 10px;
}

.tip-title::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -20px;
  top: -0.25rem;
  border-top: solid 4px #303346;
  border-right: solid 4px #303346;
  border-bottom: solid 4px #303346;
  height: 100%;
  width: 10px;
}

.js-tip {
  margin: auto;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.375rem
}

.tip__example {
  margin-top: 40vh;
  max-width: 500px;
}


.tip__selector {
  font-size: 6rem;
  font-family: inherit;
  font-weight: 800;
  text-align: right;
}

.tip__description {
  font-family: 'open sans', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
  padding: 2rem 0;
  max-width: 500px;
}

.disabled {
  background-color: #D8D8D8 !important;
  color: #888;
  cursor: not-allowed !important;
}
